extends layout.pug
block content 
    <div class="container shadow p-5 bg-white my-5" style="--bs-border-opacity: .8; max-width: 794px;">
        
        p
         strong Page not Found…   
        a(href= "https://resume.giacomosecchi.com/en") Read the resume  

    </div>
block scripts
  script(src='/main.js')