<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">

    <title>Curriculum Vitae | Giacomo Secchi | Frontend Web Developer</title>

 

    <!-- Meta -->
    <meta name="description" content="Web developer specializzato nel frontend">
    <meta name="keywords" content="web,developer,designer,resume,html5,schema,microdata,Modena,Bologna">
    <meta name="author" content="Giacomo Secchi">

    <meta name="viewport" content="width=device-width, initial-scale=1">
 
    
    <!-- CSS Stylesheet -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" media="print" href="assets/css/print.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,700;1,100;1,300&family=Noto+Serif:wght@400;700&display=swap" rel="stylesheet">



</head>
<body>

    <div style="background-color: var(--bs-gray-100);" class="py-5">
        <div class="container shadow p-5 bg-white" style="--bs-border-opacity: .4; max-width: 794px;">
            <header>
                <section>
                    <div itemscope itemtype="http://schema.org/Person">

                        <div class="row">
                            <div class="col-2">
                                //- <img class="rounded-circle w-100 h-auto" src="https://lh3.googleusercontent.com/xSZgKvwNkC61-iJ5ch3juW-VKDkGPDKdPK9c81N6WbmD9XX633GEfFkNAJgp4nuRF9gz7ZDayW76xgNx9A=s592-rw-no" itemprop="image" width="150" height="150" alt="Your Name" />

                            </div>
                            <div class="col-6">
                                <h1><span itemprop="name">Giacomo Secchi</span></h1>
                        
                                <h3><span itemprop="jobTitle">Web Developer / Designer</span></h3>
                                
                            </div> 
                            <div class="col-4">
                                <ul class="ps-0">
                                    <li class="d-flex align-items-start mb-1">
                                        <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                                            <svg class="bi" width="1em" height="1em" fill="currentColor">
                                                <use xlink:href="bootstrap-icons.svg#geo-alt-fill"/>
                                            </svg>
                                            <span itemprop="addressLocality">Modena</span>, <span itemprop="addressCountry">IT</span>
                                        </div>
                                    </li>
                                    <li class="d-flex align-items-start mb-1">
                                        <svg class="bi" width="1em" height="1em" fill="currentColor">
                                            <use xlink:href="bootstrap-icons.svg#telephone-fill"/>
                                        </svg>
                                        <span itemprop="telephone">(000) 000-0000</span>
                                    </li>
                                    <li class="d-flex align-items-start mb-1">
                                        <svg class="bi" width="1em" height="1em" fill="currentColor">
                                           <use xlink:href="bootstrap-icons.svg#envelope-at-fill"/>
                                        </svg>
                                        <a href="mailto:giacomo.secchi@gmail.com" itemprop="email">giacomo.secchi@gmail.com</a>
                                    </li>
                                    <li class="d-flex align-items-start mb-1">
                                        <svg class="bi" width="1em" height="1em" fill="currentColor">
                                            <use xlink:href="bootstrap-icons.svg#globe2"/>
                                        </svg>
                                        <a rel="me" itemprop="url" href="http://www.webcodepro.net/about.php" title="www.your-website.com">www.your-website.com</a>
                                    </li>
                                    <li class="d-flex align-items-start mb-1">
                                        <svg class="bi" width="1em" height="1em" fill="currentColor">
                                            <use xlink:href="bootstrap-icons.svg#github"/>
                                        </svg>
                                        <a rel="me" itemprop="url" href="https://github.com/giacomo-secchi" title="Follow Me on Twitter">@giacomo-secchi</a>
                                    </li>
                                    <li class="d-flex align-items-start mb-1">
                                        <svg class="bi" width="1em" height="1em" fill="currentColor">
                                            <use xlink:href="bootstrap-icons.svg#linkedin"/>
                                        </svg>
                                        <a rel="me" itemprop="url" href="https://www.linkedin.com/in/giacomosecchi/" title="Follow Me on Twitter">Giacomo Secchi</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>         
                </section>
            </header>
            
            <dl>
                <dt>Profile</dt>
                <dd>
                    <section>#{title}</section>
                </dd>
            </dl>

          
            <div itemscope itemtype="http://schema.org/ItemList">
 
                <dl>
                    <dt itemprop="name">Skills:</dt>
                    <dd>
                    
                        <section>
                            <ul>
                                <li itemprop="itemListElement">XHTML</li>
                                <li itemprop="itemListElement">HTML5</li>
                                <li itemprop="itemListElement">PHP</li>
                                <li itemprop="itemListElement">JavaScript</li>
                                <li itemprop="itemListElement">Magento</li>
                                <li itemprop="itemListElement">WordPress</li>
                            </ul>
                            <ul>
                                <li itemprop="itemListElement">HTML</li>
                                <li itemprop="itemListElement">CSS</li>
                                <li itemprop="itemListElement">MySQL</li>
                                <li itemprop="itemListElement">jQuery</li>
                                <li itemprop="itemListElement">CMS Made Simple</li>
                                <li itemprop="itemListElement">Photoshop</li>
                            </ul>
                        </section>
                    
                    </dd>
                </dl>
                 
            </div>


            <dl>
                <dt>Profile</dt>
                <dd>
                    <section>
                        <div itemscope itemtype="http://schema.org/Organization">
 
                            <h2><span itemprop="jobTitle">Web Developer / Designer</span></h2>
                            <p><span itemprop="name">Company Name 1</span></p>
                            <p>February 2009 &#45; Present</p>
                             
                            <p itemprop="description">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. 
                            </p>
                             
                        </div>
                             
                        
                        <div itemscope itemtype="http://schema.org/Organization">
                             
                            <h2><span itemprop="jobTitle">Web Developer / Programmer</span></h2>
                            <p><span itemprop="name">Company Name 2</span></p>
                            <p>November 2007 &#45; February 2009</p>
                             
                            <p itemprop="description">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. 
                            </p>
                             
                        </div>
                    </section>
                </dd>
            </dl>

            <dl>
                <dt>Education</dt>
                <dd>
                    <section>
                        <div itemscope itemtype="http://schema.org/EducationalOrganization">
                         
                            <p><span itemprop="name">University of Toledo</span></p>
                            
                            <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                            <span itemprop="streetAddress">2801 Bancroft Street</span>
                            <br />
                            <span itemprop="addressLocality">Toledo</span>, <span itemprop="addressRegion">Ohio</span>, <span itemprop="postalCode">43606</span><span itemprop="addressCountry">U.S.A.</span>
                            </div>
                            
                            <p><span itemprop="name">Web Design</span></p>
                            <p>2003 &#45; 2005</p>
                            
                            <p>
                                <a itemprop="url" href="http://www.utoledo.edu/" target="_blank" title="University of Toledo">www.utoledo.edu</a>
                            </p>
                            
                        </div>
                    </section>
                </dd>
            </dl>

        </div>
    </div>
    <script src="dist/main.js"></script>
</body>
</html>