body {
  background-color: blue;
}
@page  {
  size: A4;
  margin: 10mm;
  padding: 0;
}
ul > li {
  color: cmyk(100, 0, 0, 0) !important;
}
ul > li > span {
  color: black;
}
dl {
  margin-top: 0;
}
a[href]::after {
  content: "";
}
.indent p,
p.indent {
  margin: 0 10px 10px;
}
.left-column {
  position: relative;
  width: 60%;
  padding-right: 2.5mm;
}
.right-column {
  width: 40%;
  padding-left: 2.5mm;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h1 span {
  background-color: cmyk(100, 0, 0, 0) !important;
  color: cmyk(0, 0, 0, 0) !important;
  display: inline-block;
  float: right;
  margin: 0;
  padding: 13pt;
  position: relative;
  right: -10mm;
  padding-right: 10mm;
  font-size: 39pt;
  font-weight: 700;
}
.header_2 {
  float: right;
  width: 39%;
  clear: both;
}
.header_2 h3 {
  background-color: cmyk(100, 0, 0, 0) !important;
  color: cmyk(0, 0, 0, 0) !important;
  text-align: right;
  padding-bottom: 13pt;
  position: relative;
  padding-right: 10mm;
  margin-right: -10mm;
  padding-top: 0;
  font-size: 13pt;
  margin-bottom: 26pt;
}
.info_1,
.info_2 {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
  position: relative;
  float: right;
  width: 100%;
}
.header_2 h1 span,
.header_2 h3 span {
  color: cmyk(0, 0, 0, 0) !important;
}
.section-title {
  font-size: 19pt;
  line-height: 13pt;
  color: cmyk(100, 0, 0, 0) !important;
  font-weight: 400;
  margin-bottom: 13pt;
}
.profile-info,
.email a,
.site_url a,
.address span,
.phone span,
.birth span {
  color: cmyk(100, 0, 0, 0) !important;
}
span.profile-label {
  background-color: cmyk(100, 0, 0, 0) !important;
  color: cmyk(0, 0, 0, 0) !important;
  text-align: right;
  display: inline-block;
  height: 13pt;
  width: 104px;
  padding-right: 2px;
  font-weight: 300;
}
.linkedin {
  margin-top: 6.5pt;
  margin-bottom: 13pt;
}
.section-body {
  font-size: 10pt;
  line-height: 100%;
}
.legal {
  font-size: 7pt;
  margin: 0;
  clear: both;
  float: none;
}
/* Bootsrap Override */
h3 {
  margin-top: 0;
}
dl {
  margin-bottom: 0;
}
.fivecolumns .col-2,
.fivecolumns .col-sm-2,
.fivecolumns .col-lg-2 {
  float: left;
}
/* http://stackoverflow.com/questions/10387740/five-equal-columns-in-twitter-bootstrap */
.fivecolumns .col-1,
.fivecolumns .col-sm-1,
.fivecolumns .col-lg-1 {
  width: 20%;
  *width: 20%;
}
.fivecolumns .col-2,
.fivecolumns .col-sm-2,
.fivecolumns .col-lg-2 {
  width: 40%;
  *width: 40%;
}
.fivecolumns .col-3,
.fivecolumns .col-sm-3,
.fivecolumns .col-lg-3 {
  width: 60%;
  *width: 60%;
}
.fivecolumns .col-4,
.fivecolumns .col-sm-4,
.fivecolumns .col-lg-4 {
  width: 80%;
  *width: 80%;
}
.fivecolumns .col-5,
.fivecolumns .col-sm-5,
.fivecolumns .col-lg-5 {
  width: 100%;
  *width: 100%;
}
